.card {
  float: left !important;
  border: none;
  border-radius: 10% !important;
}

p {
  /* margin-top: 110px; */
}

span > .badge,
.badge-warning {
  width: 120px;
  margin-left: 20px;
  margin-top: 110px !important;
}

.img-ovetlay {
  border-radius: 10px !important;
}

.card-deck .card {
  margin: 0 !important;
}
